<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Manter Cursos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileBar"
      aria-controls="mobileBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobileBar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses-list">Curso</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="bannerContainer">
  <div class="container">

    <div class="row justify-content-center my-5 py-0">
      <div class="col col-lg-8 text-center py-0">
        <p class="display-3 title">Manter Cursos</p>
        <img id="castLogo" src="../../../../assets/img/logo-cast.png" alt="logo CastGroup">
      </div>
    </div>

  </div>

</div>

<div class="container">
  <div class="row justify-content-start">
    <div class="col-auto">
      <h2 class="subTitle">O conhecimento nunca esteve tão perto!</h2>
    </div>
  </div>
</div>

<div class="schoolStrip"></div>

<div class="container">
  <div class="row justify-content-end">
    <div class="col-auto">
      <h2 class="subTitle">Cursos de qualidade na palma da sua mão.</h2>
    </div>
  </div>
</div>
