<div class="MainContent">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-auto">
        <p id="pageHeader" class="display-1">Cursos</p>
      </div>

      <div class="col-4 col-md-3 col-lg-2 text-center">
        <button id="btnNewCourse" type="button" routerLink="/courses-NewEdit">
          <i class="fas fa-plus"></i><span style="margin-left: 10px;">Novo Curso</span>
        </button>
      </div>

    </div>

    <div class="form-inline">
      <div class="row">

        <div class="col col-sm-12 col-md-7 col-lg-4">
          <div class="form-group mb-2">
            <input type="text" class="form-control mr-2" placeholder="Titulo">
            <!-- [(ngModel)]="service.SearchFilter"> -->
          </div>
        </div>

        <div class="col col-sm-4 col-md-3 col-lg-2">
          <div class="btn-group" style="width: 100%;">
            <button type="button" class="btn btn-light btnWhite">
              <i class="fas fa-sort-alpha-down"></i>
              Ordenar
            </button>
            <button id="dpdOrder" type="button" class="btn btn-light btnWhite dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dpdOrder">
              <li><a class="dropdown-item">Alfabética</a></li>
              <li><a class="dropdown-item">Crescente/Decrescente</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <table id="courseTable" class="table table-striped table-hover">
      <thead class="table-light">
        <tr>
          <th class="col-1">
            <div class="dropdown">
              <button id="coursesOptions" class="noGap" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-ellipsis-h fa-lg"></i>
              </button>
              <ul class="dropdown-menu slcOptions" aria-labelledby="coursesOptions">
                <li>
                  <a class="dropdown-item">Selecionar tudo</a>
                </li>
                <li>
                  <a id="deleteSelectedAutor" class="dropdown-item disabled">Excluir selecionados</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item">Cancelar seleção</a>
                </li>
              </ul>
            </div>
          </th>
          <th class="col-3">
            <p>Titulo</p>
          </th>
          <th class="col-4">
            <p>Descrição</p>
          </th>
          <th class="col-2">
            <p>Início</p>
          </th>
          <th class="col-2">
            <p>Fim</p>
          </th>
        </tr>
      </thead>

      <tbody *ngIf="CourseService.CoursesList && CourseService.CoursesList.length" class="table-light">

        <tr *ngFor="let course of CourseService.CoursesList; index as i;">
          <td>{{i}}</td>
          <td>{{CourseService.formData.title}}</td>
          <td>{{CourseService.formData.description}}</td>
          <td>{{CourseService.formData.startingDate | date: "dd/MM/yyy"}}</td>
          <td>{{CourseService.formData.endingDate | date: "dd/MM/yyy"}}</td>
        </tr>
      </tbody>

      <tfoot class="table-light">
        <tr *ngIf="!CourseService.CoursesList.length">
          <td colspan="8">
            <h6>Nenhum Curso cadastrado.</h6>
          </td>
        </tr>
        <tr *ngIf="CourseService.CoursesList && !CourseService.CoursesList">
          <td colspan="8">
            Nenhum Curso com o <strong>titulo</strong> informado.
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
