.noGap {
  padding: 0;
  margin: 0;
}

.SideMenu{
  background-color: var(--darkVoid);
  height: 100vh;
  border-right: 2px solid var(--darkVoid);
}
.SideMenu .sideButtonHeader{
  height: 90px;
  background-color: var(--secondary);
}
.SideMenu .sideButtonHeader button{
  margin: 20px 10px;
}

#pageHeader {
  color: white;
}

#btnNewCourse{
  padding: 8px 0;
  width: 150px;
}

.btnWhite{
  background-color: white;
  border: 1px solid gray;
}
.btnWhite:hover{
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
}

#btnOrder{
  width: 150px;
}

#dpdOrder{
  width: 20%;
}

#settingsCol{
  margin-left: 45px;
}
#settingsCol button{
  background-color: transparent;
  color: rgb(194, 194, 194);
  border: none;
  transition: 250ms;
}
#settingsCol button:hover{
  color: var(--light);
  transform: rotate(45deg);
  transition: 250ms;
}

#courseTable thead .dropdown #coursesOptions {
  font-size: larger;
  width: auto;
  height: auto;
  background-color: var(--secondary);
  color: var(--light);
  border: none;
}
#courseTable thead .dropdown .dropdown-menu .dropdown-item {
  cursor: default;
}


#courseTable thead tr th {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--secondary);
  color: var(--light);
}

#courseTable thead tr .topLeftHeader{
  width: 45px;
  border-right: 2px solid var(--void);
}

#courseTable thead tr th p {
  margin: 0;
  padding: 0;
  font-size: larger;
}

#courseTable tbody tr{
  cursor: pointer;
}

#courseTable tbody tr .leftCell{
  border-right: 2px solid var(--void);
}

#courseTable tbody tr td .btnAction{
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  opacity: 0;
  transition: 150ms;
}
#courseTable tbody tr:hover td .btnAction{
  opacity: 100;
  transition: 300ms;
}
