<div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title display-6" id="sideMenuLabel">Menu</h5>
    <button id="btnClose" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body noGap">

    <div class="list-group">
      <button routerLink="/client-home" type="button" class="list-group-item list-group-item-action">
        <div class="ico"><i class="fas fa-arrow-left"></i></div>
        Voltar para Home
      </button>

      <button (click)="Dismiss()" type="button" data-bs-toggle="modal" data-bs-target="#categoryModal" class="list-group-item list-group-item-action">
        <div class="ico"><i class="fas fa-list-ul"></i></div>
        Categorias
      </button>
    </div>

  </div>
</div>


<category-modal></category-modal>
