.noGap{
  padding: 0;
  margin: 0;
}

/* .row{
  background-color: rgb(240, 255, 255);
  border: 2px solid rgb(102, 156, 156);
}

.col{
  background-color: rgb(204, 183, 236);
  border: 2px solid rgb(137, 109, 179);
} */

.backButton{
  width: 40px;
  height: auto;
}
.backButton:hover{
  transition: 500ms;
  background-color: black;
  cursor: pointer;
}
.backButton i{
  color: white;
}

#titleCol{
  transform: translate(-20px,0);
  color: var(--light);
}

hr{
  position: relative;
  width: 100%;
}

form .row{
  margin-top: 8px;
}

form .invalid-feedback{
  font-size: smaller;
  color: rgb(255, 118, 118);
}

form label{
  color: var(--light);
}

form textarea {
  resize: none;
  overflow: visible;
  height: 90px;
}


form #btnSubmit{
  margin-top: 20px;
}
