<div class="MainContent">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col col-lg-8">
        <div class="row justify-content-center align-items-center">
          <div class="col col-auto noGap">
            <button (click)="resetForm(this.form)" class="btn btn-light backButton" routerLink="/courses-list"
              type="button">
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>

          <div id="titleCol" class="col col-lg-8 text-center me-auto ms-auto">
            <p class="display-4 noGap">Novo Curso</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-8">
        <hr />
      </div>
    </div>

    <form class="was-validated" method="post" novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
      <div class="row justify-content-center">

        <div class="col col-12 col-md-8 col-lg-5">

          <div class="form-group">
            <label class="control-label">Titulo</label>
            <input class="form-control" maxlength="50" placeholder="Titulo" name="title" id="txtTitle" value="Titulo"
              #title="ngModel" [(ngModel)]="CourseService.formData.title" />
          </div>
          <div class="invalid-feedback">Campo Titulo obrigatório!</div>
        </div>

        <div class="col col-12 col-md-4 col-lg-3">

          <div class="form-group">
            <label class="control-label">Categoria</label>
            <select class="form-select" aria-label="dpdCategory" name="category" #category="ngModel"
              [(ngModel)]="CourseService.formData.categoryID" required
              [class.invalid]="category.invalid && category.touched">
              <option value="" selected>Selecionar</option>
              <option *ngFor="let category of CategoryService.CategoriesList" value="{{category.id}}">{{category.name}}
              </option>
            </select>
            <div class="invalid-feedback">Campo Categoria obrigatório!</div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-12 col-md-4 col-lg-3">

          <div class="form-group">
            <label class="control-label">Data de Início</label>
            <input type="date" class="form-control" placeholder="Início" name="startingDate" id="txtStartingDate"
              value="Início" #startingDate="ngModel" [(ngModel)]="CourseService.formData.startingDate" required
              [class.invalid]="startingDate.invalid && startingDate.touched" />
            <div class="invalid-feedback">Campo Data de Início obrigatório!</div>
          </div>
        </div>

        <div class="col col-12 col-md-4 col-lg-3">

          <div class="form-group">
            <label class="control-label">Data de Término</label>
            <input type="date" class="form-control" placeholder="Fim" name="endingDate" id="txtendingDate" value="Fim"
              #endingDate="ngModel" [(ngModel)]="CourseService.formData.endingDate" required
              [class.invalid]="endingDate.invalid && endingDate.touched" />
              <div class="invalid-feedback">Campo Data Final obrigatório!</div>
          </div>
        </div>

        <div class="col col-12 col-md-4 col-lg-2">
          <div class="form-group">
            <label class="control-label">Alunos por Turma</label>
            <input type="number" class="form-control" placeholder="0 (opcional)" name="studentsPerClass"
              id="txtStudentsPerClass" value="Alunos p/ Turma" #studentsPerClass="ngModel"
              [(ngModel)]="CourseService.formData.studentsPerClass" />
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-12 col-lg-8">
          <div class="form-group">
            <label class="control-label">Descrição</label>
            <textarea class="form-control" maxlength="200" placeholder="Descrição" name="description"
              id="txtDescription" value="Descrição" #description="ngModel"
              [(ngModel)]="CourseService.formData.description" required
              [class.invalid]="description.invalid && description.touched"></textarea>
              <div class="invalid-feedback">Campo Descrição obrigatório!</div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="col col-12 col-lg-8">
          <div class="row">
            <div class="col col-12">
              <div class="form-group">
                <button id="btnSubmit" class="btn btn-primary" type="submit"
                  [disabled]="form.invalid">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>